<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refurbished Tech</title>
    
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h2>Smart Exchange</h2>
                <ul>
                    <li>♻ Buy Smart</li>
                    <li>💰 Save More</li>
                    <li>🌍 Reduce E-Waste</li>
                </ul>
            </div>
            <div class="footer-logo Our-services">
                <h2>Our Services</h2>
                <ul>
                    <li><a href="/sell-phone">Sell Phone</a></li>
                    <li><a href="/sell-laptop">Sell Laptop</a></li>
                    <li><a href="/buy-phone">Buy phone</a></li>
                    <li>Buy Laptop</li>
                    <li><a href="/Accessories">Accessories</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <a href="/about_us">About Us</a>
                <a href="/contact_us">Contact</a>
                <a href="/blog">Blog</a>
            </div>
        </div>

        <div class="footer-social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>© 2025 Smart Exchange. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>