<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>SmartExchange:Header</title>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/header.css">  
  <link rel="stylesheet" href="/styles/navbar.css">  
  <link rel="stylesheet" href="/styles/general.css">
 </head>  
<body>  
    <div class="header">
        <div class="header-left-section">
            <a href="/" class="header-link">
                <img class="logo" src="/images/header/logo1.png" alt="Logo">
            </a>
        </div>

        <div class="header-middle-section">
            <div class="search-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input class="search-bar" type="text" placeholder="Search for mobiles,laptops & More">
            </div>
        </div>

        <!-- Right Section with Cart and Sign In/Profile -->
        <div class="header-right-section">
            <a class="" href="/cart">
                <img class="icons" src="/images/header/cart-icon.png" alt="Cart">
                <div class="cart-text">Cart</div>
            </a>
            <div id="user-section">
                <a class="" href="login.html">
                    <img class="icons" style="display: inline;" src="/images/header/profile-icon.png" alt="Profile">
                    <a href="login.html" id="login-link">Sign in</a>
                </a>
            </div>
            
        </div>
    </div>

    <!-- Navigation Menu -->
    <div class="navbar">
        <div class="nav-item">All
            <div class="dropdown">
                <a class="all-dropdown" href="/sell-phone">Sell phone</a>
                <a class="all-dropdown" href="/sell-laptop">Sell laptop</a>
                <a class="all-dropdown">Buy phone</a>
                <a class="all-dropdown">Buy laptop</a>
                <a class="all-dropdown" href="/Accessories">Accessories</a>
            </div>
        </div>
        <div class="nav-item" > <a href="/sell-phone" class="text-decoration">Sell Phone </a>
            <div class="dropdown">
                <a  class="dropdown-heading">Top Selling brands</a>
                <a class="top-sell-phone-dropdown">Apple</a>
                <a class="top-sell-phone-dropdown">Samsung</a>
                <a class="top-sell-phone-dropdown">Xiaomi</a>
                <a class="top-sell-phone-dropdown">OnePlus</a>
                <a class="top-sell-phone-dropdown">Realme</a>
                <a class="top-sell-phone-dropdown">Motorola</a>
                <a class="top-sell-phone-dropdown">Google</a>
            </div>
        </div>
        <div class="nav-item"> <a href="/sell-laptop" class="text-decoration">Sell Laptops</a>
            <div class="dropdown">
                <a  class="dropdown-heading">Top Selling brands</a>
                <a class="top-sell-laptop-dropdown">Apple</a>
                <a class="top-sell-laptop-dropdown">Dell</a>
                <a class="top-sell-laptop-dropdown">HP</a>
                <a class="top-sell-laptop-dropdown">Asus</a>
                <a class="top-sell-laptop-dropdown">Acer</a>
                <a class="top-sell-laptop-dropdown">Microsoft</a>
                <a class="top-sell-laptop-dropdown">MSI</a>
                <a class="top-sell-laptop-dropdown">Lenovo</a>
            </div>
            
        </div>
        <div class="nav-item"> <a href="/buy-phone" class="text-decoration">Buy Phones</a>
            <div class="dropdown">
                <a  class="dropdown-heading">Top brands</a>
                <a class="top-buy-phone-dropdown">Apple</a>
                <a class="top-buy-phone-dropdown">Samsung</a>
                <a class="top-buy-phone-dropdown">Xiaomi</a>
                <a class="top-buy-phone-dropdown">One plus</a>
                <a class="top-buy-phone-dropdown">Realme</a>
                <a class="top-buy-phone-dropdown">Motorola</a>
                <a class="top-buy-phone-dropdown">Google</a>
                <a class="top-buy-phone-dropdown">Vivo</a>
            </div>
        </div>
        <div class="nav-item">Buy Laptop
            <div class="dropdown">
                <a  class="dropdown-heading">Top  brands</a>
                <a href="#">Apple</a>
                <a href="#">Dell</a>
                <a href="#">Hp</a>
                <a href="#">Asus</a>
                <a href="#">Acer</a>
                <a href="#">Microsoft</a>
                <a href="#">Msi</a>
                <a href="#">Lenovo</a>
            </div>
        </div>
        <div class="nav-item"> <a href="/Accessories" class="text-decoration">Accessories</a>
            <div class="dropdown">
                <a class="dropdown-heading">Categories</a>
                <a href="/smartwatches">Smart Watches</a>
                <a href="/earbuds">Ear Phones</a>
                <a href="/chargers">Chargers</a>
                <a href="/mouses">Mouses</a>
            </div>
        </div>  
    </div>

    <script src="scripts/index.js"></script>
</body>  
</html>  