<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>SmartExchange:Buy Chargers</title>  
    <link rel="stylesheet" href="/styles/chargers.css">  
</head>  
<body>  
    <%- include('partials/header') %> 
    <div class="page-container">  
        <aside class="filters">  
            <h2>Filters</h2>  
            <div class="filter-group">  
                <h3>Brand</h3>  
                <label><input type="checkbox" class="brand-filter" value="Apple"> Apple</label>  
                <label><input type="checkbox" class="brand-filter" value="Samsung"> Samsung</label>  
                <label><input type="checkbox" class="brand-filter" value="RoarX"> RoarX</label>  
                <label><input type="checkbox" class="brand-filter" value="EYNK"> EYNK</label>  
                <label><input type="checkbox" class="brand-filter" value="Pacificdeals"> Pacificdeals</label>  
            </div>  
            <div class="filter-group">  
                <h3>Wattage</h3>  
                <label><input type="checkbox" class="wattage-filter" value="20"> 20W</label>  
                <label><input type="checkbox" class="wattage-filter" value="25"> 25W</label>  
                <label><input type="checkbox" class="wattage-filter" value="33"> 33W</label>  
                <label><input type="checkbox" class="wattage-filter" value="44"> 44W</label>  
            </div>  
            <div class="filter-group">  
                <h3>Type</h3>  
                <label><input type="checkbox" class="type-filter" value="USB C"> USB-C</label>  
                <label><input type="checkbox" class="type-filter" value="USB B"> USB-B</label> 
                <label><input type="checkbox" class="type-filter" value="lightning">lightning</label>   
            </div>  
            <div class="filter-group">  
                <h3>Discount</h3>  
               
                <label><input type="checkbox" class="discount-filter" value="15"> 15% & above</label>  
                <label><input type="checkbox" class="discount-filter" value="63"> 63% & above</label>  
                <label><input type="checkbox" class="discount-filter" value="71"> 71% & above</label>  
                <label><input type="checkbox" class="discount-filter" value="87"> 87% & above</label>  
            </div>  
        </aside>  
        
        
            <div id="product-list" class="products"></div>  
 
    </div>  

    <script src="/scripts/chargers.js" type="module"></script>  
    
</body>  
</html>  