.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #40BFFF;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 10vh;
    
    /* Removed margin: 0 */
}

.brand-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #ffffff;
    transition: all 0.3s ease;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-item {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.2); 
    color: #f1f1f1;
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 150px;
    border-radius: 5px;
    z-index: 5;
}

.dropdown a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.dropdown-heading {
    font-weight: bold;
    background: none !important;
    pointer-events: none;
    color: black;
}

.dropdown a:not(.dropdown-heading):hover {
    background: #d4d2d2;
}

.text-decoration {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #40BFFF;
        padding: 15px 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        margin-top: 10vh;
        
        /* Removed margin: 0 */
    }
    .hamburger {
        display: flex;
    }

    .brand-text {
        display: block; /* Show on small screens */
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #ffffff;
        flex-direction: column;
        width: 200px;
        z-index: 5;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        color: black;
    }

    .nav-item:hover {
        background: #d4d2d2;
        color: black;
    }

    .nav-item.all-item {
        display: none; /* Hide the All item in mobile view */
    }

    .text-decoration {
        color: black;
    }

    .dropdown {
        display: none !important; /* Hide all dropdowns in mobile view */
    }
}
