
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        body {
            padding: 20px;
            background-color: #f8f8f8;
        }
        .container {
            max-width: 1200px;
            margin: auto;
        }
        
        
        
        .brand-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
            margin-top: 20px;
        }
        .brand-card {
            height: 20vh;
            background: #fff;
            border-radius: 10px;
            border: 1px solid #ddd;
            padding: 2vh;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }
        .brand-card:hover {
            transform: scale(1.1);
            box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
        }
        
       

        .brand-card img {
            width: 60px;
            height: auto;
            margin-bottom: 10px;
        }
        .sell_laptop{
           text-align: center;
        }
        .back-Button {
            margin-top: 5vh;
            margin-bottom: 2vh;
            padding: 10px 15px;
            background: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
         text-align: left;
        }
        .back-Button:hover{
            opacity: 0.85;
            transform: scale(1.1);
        }


   